# EditorConfig - Prevent auto-formatting of Django templates
# https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,htm}]
# Disable line wrapping for HTML/Django templates
max_line_length = none
trim_trailing_whitespace = false

[*.py]
indent_style = space
indent_size = 4
max_line_length = 120
